In [42]:
%matplotlib inline

import pandas as pd

In [43]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\david\desktop\hslu\sem4\adml\venv\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\david\desktop\hslu\sem4\adml\venv\lib\site-packages (from openpyxl) (1.1.0)

In [44]:
df = pd.read_excel("cars_for_gini.xlsx")
df.columns = ["name", "horsepower", "seats", "color", "sold"]
df.head(15)

c:\Users\David\Desktop\HSLU\sem4\adml\venv\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

                                 name  horsepower  seats   color          sold
0              FERRARI F550 Maranello         485      2  silver          fast
1                MERCEDES-BENZ SL 600         485      2  silver          fast
2              FERRARI F550 Maranello         485      2   white          fast
3               BMW 320i M-Sport Pack         180      4   black          fast
4                CHEVROLET Camaro 6.2         485      4   white          fast
5                    MINI Mini Cooper         115      4   black  shelf-warmer
6               HYUNDAI i10 1.2 Style          86      5   black          fast
7        SKODA Fabia 1.2 TSI Ambition         115      5   black          fast
8        MERCEDES-BENZ S 500 L 4Matic         350      5   black          fast
9       AUDI A4 Avant 3.0 TDI quattro         200      5     red        normal
10           LEXUS GS 350 AWD F-Sport         350      5     red        normal
11                INFINITI FX37 S AWD         350      5     red        normal
12    VOLVO V40 T4 Limited Sports Ed.         200      5  silver        normal
13  LAND ROVER Evoque 2.2eD4 Pure 2WD         150      5   white        normal
14            BMW X1 xDrive 20d xLine         180      5   white        normal

In [45]:
def calculate_gini_impurity(data, feature_col, target_col):
    feature_values = data[feature_col].unique()
    target_values = data[target_col].unique()

    gini_impurity = 0
    for feature_value in feature_values:
        entries_matching_feature_value = data[data[feature_col] == feature_value]
        distribution = len(entries_matching_feature_value) / len(data)
        gini = 1
        for target_value in target_values:
            entries_matching_feature_value_and_target_value = entries_matching_feature_value.loc[(data[target_col] == target_value)]
            p = len(entries_matching_feature_value_and_target_value) / len(entries_matching_feature_value)
            gini -= p ** 2
        gini_impurity += distribution * gini

    return gini_impurity

In [46]:
calculate_gini_impurity(df, "color", "sold")

0.5333333333333332

In [47]:
df["seats_splitted"] = pd.cut(df["seats"], bins=[0, 3, 4.5], labels=["0-3", "3-4.5"])
df["seats_splitted"].cat.add_categories("4.5+", inplace=True)
df["seats_splitted"].fillna("4.5+", inplace=True)
df.head(15)

C:\Users\David\AppData\Local\Temp\ipykernel_7136\2952593031.py:2: FutureWarning: The `inplace` parameter in pandas.Categorical.add_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df["seats_splitted"].cat.add_categories("4.5+", inplace=True)

,name,horsepower,seats,color,sold,seats_splitted
0,FERRARI F550 Maranello,485,2,silver,fast,0-3
1,MERCEDES-BENZ SL 600,485,2,silver,fast,0-3
2,FERRARI F550 Maranello,485,2,white,fast,0-3
3,BMW 320i M-Sport Pack,180,4,black,fast,3-4.5
4,CHEVROLET Camaro 6.2,485,4,white,fast,3-4.5
5,MINI Mini Cooper,115,4,black,shelf-warmer,3-4.5
6,HYUNDAI i10 1.2 Style,86,5,black,fast,4.5+
7,SKODA Fabia 1.2 TSI Ambition,115,5,black,fast,4.5+
8,MERCEDES-BENZ S 500 L 4Matic,350,5,black,fast,4.5+
9,AUDI A4 Avant 3.0 TDI quattro,200,5,red,normal,4.5+
10,LEXUS GS 350 AWD F-Sport,350,5,red,normal,4.5+
11,INFINITI FX37 S AWD,350,5,red,normal,4.5+
12,VOLVO V40 T4 Limited Sports Ed.,200,5,silver,normal,4.5+
13,LAND ROVER Evoque 2.2eD4 Pure 2WD,150,5,white,normal,4.5+
14,BMW X1 xDrive 20d xLine,180,5,white,normal,4.5+

In [48]:
calculate_gini_impurity(df, "seats_splitted", "sold")

0.5166666666666667

In [49]:
df = df[df["seats"] > 4.5]
calculate_gini_impurity(df, "color", "sold")

0.42857142857142855